<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <title>E-Cycle</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../static/img/logo.png" alt="E-Cycle">
        </div>
        <h1>E-CYCLE</h1>
        <a href="/login">
            <button class="button">Entrar</button>
        </a>
        <a href="/cadastro">
            <button class="button">Cadastro</button>
        </a>
    </div>
</body>
</html>