<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../static/stylePontos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

    <div class="welcome">
        
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <div class="body">
        <div id="map"></div>
        <div class="info-box">
            <div class="img">
                <img src="../static/img/missoes/mis1.png" alt="">
            </div>
            <div class="content">
                <h3>Ponto mais próximo:</h3>
                <p>Etec Abdias do Nascimento</p>
            </div>
        </div>
    </div>
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-off" href="/news">
            <img src="../static/img/IconsMenu/OffIcons/Playlist-Down.png" alt="Notícias">
        </a>
        <a class="icon-on" href="/ecopoints">
            <img src="../static/img/IconsMenu/OnIcons/Location.png" alt="Mapa">
        </a>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>