<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/stylePrincipal.css">
    <title>Página Principal - E-Cycle</title>
</head>
<body>
    <div class="welcome">
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>

        <div class="welcome-text">
            <img src="../static/img/eCoin.png" alt="E-Coins">
            <div>
                <h2>Olá, Eduardo!</h2>
                <p>1770 E-Coins</p>
            </div>
        </div>
    </div>
    <section class="body">
        <div class="menu">
            <a href="/missions">
                <div class="menu-item">
                    <img src="../static/img/menuIcons/missionsIcon.png" alt="Missões">
                    <p>Missões Mensais</p>
                </div>
            </a>
            <a href="/store">
                <div class="menu-item">
                    <img src="../static/img/menuIcons/storeIcon.png" alt="Loja">
                    <p>Loja E-Coins</p>
                </div>
            </a>
            <a href="/ecopoints">
                <div class="menu-item">
                    <img src="../static/img/menuIcons/recicleIcon.png" alt="">
                    <p>Pontos de Coleta</p>
                </div>
            </a>
            <a href="/news">
                <div class="menu-item">
                    <img src="../static/img/menuIcons/newsIcon.png" alt="Notícias">
                    <p>Notícias</p>
                </div>
            </a>
        </div>

        <div class="news-title">
            <h3>Informações Adicionais</h3>
            <a href="/news">
                <p>Ler Mais +</p>
            </a>
        </div>
        <div class="news-content">
            <div class="news">
                <a href="/artigos/Alok">
                    <img src="../static/img/artigos/artigo2.webp" alt="Notícia 1">
                </a>
                <h2>Alok se une à Vivo</h2>
                <p>31 de Julho de 2025</p>
            </div>
            <div class="news">
                <a href="/artigos/Plastico">
                    <img src="../static/img/artigos/artigo4.webp" alt="Notícia 2">
                </a>
                <h2>Plástico que dissolve</h2>
                <p>07 de Abril de 2025</p>
            </div>
        </div>
    </section>
    <section class="espaco">
    </section>
    <div class="bottom-menu">
        <a class="icon-on" href="/home">
            <img src="../static/img/IconsMenu/OnIcons/Home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-off" href="/news">
            <img src="../static/img/IconsMenu/OffIcons/Playlist-Down.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>