<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/stylePerfil.css">
    <title>Página Principal - E-Cycle</title>
</head>
<body>

    <!-- Header -->
    <header class="header-perfil">
            <span class="bi bi-bell-fill"></span>
    </header>

    <!-- Área de Perfil -->
    <main class="perfil-container">
        <div class="avatar">
        <img src="../static/img/profile.png" alt="Avatar Usuário">
        <span class="editar"><i class="bi bi-pencil-fill"></i></span>
        </div>
        <h2>Eduardo<br>Steffenino</h2>

        <!-- Opções -->
        <div class="perfil-opcoes">
        <a href="#"><i class="bi bi-pen"></i> Editar informações</a>
        <a href="#"><i class="bi bi-info-circle"></i> Ajuda e Suporte</a>
        <a href="#"><i class="bi bi-cart"></i> Carrinho</a>
        <a href="/" class="sair"><i class="bi bi-box-arrow-left"></i> Sair da Conta</a>
        </div>
    </main>

    <!-- Menu Inferior -->
    <div class="bottom-menu">
        <a class="icon-on" href="/home">
            <img src="../static/img/IconsMenu/OnIcons/Home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-off" href="/news">
            <img src="../static/img/IconsMenu/OffIcons/Playlist-Down.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>

</body>
</html>
