<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../static/styleNoticia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="welcome">
        
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <nav class="abas">
        <a href="/news"><button>Notícias</button></a>
        <button class="ativa">Vídeos</button>
    </nav>

    <div class="conteudo">
        <a href="https://www.youtube.com/watch?v=xNYZQpT6aB0">
            <section class="noticia">
                <div class="info">
                    <h3>Como separar lixo eletronico em casa!</h3>
                    <div class="status">
                        <p class="link">1.3M Views</p>
                        <p class="data">355k Likes</p>
                    </div>
                </div>
                <img src="../static/img/artigos/noticia1.png" alt="">
            </section>
        </a>
        
        <a href="https://www.youtube.com/watch?v=R9GPZMH6xgw">
            <section class="noticia">
                <div class="info">
                    <h3>Lixo eletrônico chegou a nível recorde; entenda o problema.</h3>
                    <div class="status">
                        <p class="link">990k Views</p>
                        <p class="data">230k Likes</p>
                    </div>
                </div>
                <img src="../static/img/artigos/noticia2.png" alt="">
            </section>
        </a>
    </div>

    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>

</body>
</html>
