<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../static/styleNoticia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="welcome">
        
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <nav class="abas">
        <button class="ativa">Notícias</button>
        <a href="/videos"><button>Vídeos</button></a>
    </nav>

    <div class="conteudo">
        <a href="/news/Inclusao">
            <section class="noticia">
                <div class="info">
                    <h3>Descarte correto de lixo eletrônico traz benefício da inclusão digital.</h3>
                    <p class="data">30/07/2025 — 23:54</p>
                </div>
                <img src="../static/img/artigos/noticia1.png" alt="">
            </section>
        </a>

        <a href="/news/Alok">
            <section class="noticia">
                <div class="info">
                    <h3>Alok se une à Vivo para incentivar descarte de lixo eletrônico em campanha nacional.</h3>
                    <p class="data">31/07/2025 — 11:22</p>
                </div>
                <img src="../static/img/artigos/artigo2.webp" alt="">
            </section>
        </a>

        <a href="/news/Multirao">
            <section class="noticia">
                <div class="info">
                    <h3>Mutirão e ecoponto arrecadam 47 toneladas de lixo eletrônico</h3>
                    <p class="data">16/07/2025 — 15:22</p>
                </div>
                <img src="../static/img/artigos/artigo3.jpg" alt="">
            </section>
        </a>

        <a href="/news/Plastico">
            <section class="noticia">
                <div class="info">
                    <h3>Plástico que dissolve em água pode solucionar descarte de lixo eletrônico.</h3>
                    <p class="data">07/04/2025 — 14:33</p>
                </div>
                <img src="../static/img/artigos/artigo4.webp" alt="">
            </section>
        </a>

        <a href="/news/Robo">
            <section class="noticia">
                <div class="info">
                    <h3>ONG transforma lixo eletrônico em robôs criativos no nordeste</h3>
                    <p class="data">19/04/2025 — 13:58</p>
                </div>
                <img src="../static/img/artigos/artigo5.avif" alt="">
            </section>
        </a>
    </div>

    <section class="espaco">
    </section>

    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>

</body>
</html>
