<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleLoja.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Loja E-Coins - E-Cycle</title>
</head>
<body>
    <div class="welcome">
        
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>

        <div class="saldo">
            <p>Saldo:</p>
            <div class="pontos">
                <h3>0</h3> <img src="../static/img/eCoin.png" alt="">
            </div>
        </div>
    </div>

    <div class="body">
        <div class="section-title">
            <h3>CUPONS</h3>
            <a href="#"><i class="bi bi-caret-right-fill"></i></a>
        </div>
        <div class="cupons">
            <div class="cupom">
                <img src="../static/img/logoMagalu.jpg" alt="Magalu">
                <p>5% OFF<br>EC$ 100</p>
            </div>
            <div class="cupom">
                <img src="../static/img/logoNvidia.png" alt="NVIDIA">
                <p>10% OFF<br>EC$ 200</p>
            </div>
            <div class="cupom">
                <img src="../static/img/logoMicrosoft.png" alt="Microsoft">
                <p>Key Win10<br>EC$ 500</p>
            </div>
            <div class="cupom">
                <img src="../static/img/logoKabum.png" alt="Kabum">
                <p>5% OFF<br>EC$ 150</p>
            </div>
            <div class="cupom">
                <img src="../static/img/logoAli.avif" alt="Aliexpress">
                <p>5% OFF<br>EC$ 100</p>
            </div>
        </div>
    
        <div class="section-title">
            <h3>Produtos</h3>
            <a href="#"><i class="bi bi-caret-right-fill"></i></a>
        </div>
        <div class="produtos">
            <a href="/store/Placa">
            <div class="produto">
                    <img src="../static/img/products/rx6500.jpg" alt="Placa de vídeo">
                    <p>Via Kabum</p>
                    <h4>RX 6500 XT</h4>
                    <h3>EC$ 6.300</h3>
                </div>
            </a>
            <a href="/store/Phone">
                <div class="produto">
                    <img src="../static/img/products/s24.webp" alt="Galaxy S24">
                    <p>Via Magalu</p>
                    <h4>Samsung S24</h4>
                    <h3>EC$ 18.000</h3>
                </div>
            </a>
            <a href="/store/Dell">
                <div class="produto">
                    <img src="../static/img/products/dellInspiron.webp" alt="Notebook Dell">
                    <p>Via Dell</p>
                    <h4>Dell Inspiron</h4>
                    <h3>EC$ 4000</h3>
                </div>
            </a>
            <a href="/store/Mouse">
                <div class="produto">
                    <img src="../static/img/products/m900.webp" alt="Mouse M900">
                    <p>Via Aliexpress</p>
                    <h4>Delux m900</h4>
                    <h3>EC$ 1.125</h3>
                </div>
            </a>
        </div>
    </div>
    <section class="espaco">
    </section>
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-on" href="/store">
            <img src="../static/img/IconsMenu/OnIcons/store.png" alt="Loja">
        </a>
        <a class="icon-off" href="/news">
            <img src="../static/img/IconsMenu/OffIcons/Playlist-Down.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
</body>
</html>