<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../../static/styleArtigo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Header -->
    <div class="welcome">
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <!-- Conteúdo do Artigo -->
    <main class="conteudo">
        <h1 class="titulo-artigo">ONG transforma lixo eletrônico em robôs criativos no nordeste</h1>
        <h2>Vanessa Centamori</h2>
        <h3>Publicado em 19/07/2025 por <a href="https://revistagalileu.globo.com/tecnologia/noticia/2025/07/esta-ong-transforma-lixo-eletronico-em-robos-criativos-no-nordeste-veja.ghtml">Revista Galileu</a></h3>

        <p>
            Cabos, fios, computadores antigos... o que você faz com o lixo eletrônico que se 
            acumula em casa (além de deixar esquecido na gaveta)? No nordeste, o Instituto 
            Robótica Sustentável visa dar um novo destino a esse tipo de resíduo, transformando 
            sucata tecnológica em robôs e espalhando a palavra do reaproveitamento em escolas 
            da rede pública, via oficinas e exposições.
        </p>
        <p>
            No ano passado, a ONG coletou 72 toneladas de resíduos eletrônicos. Em 2025, a 
            expectativa é ultrapassar a marca de 100 toneladas recicladas — só entre janeiro 
            e junho, 63 toneladas já foram reaproveitadas.
        </p>

        <p>
           "A gente consegue aproveitar esse tipo de resíduo eletroeletrônico para fazer várias 
           interações de tecnologia com as crianças, unindo a sustentabilidade à tecnologia", 
           afirma André Cardoso, presidente da organização, em entrevista neste sábado (19) à 
           GALILEU. O papo aconteceu durante a participação do instituto no Sana, maior feira 
           geek do nordeste, que acontece entre sexta (18) até domingo (20) em Fortaleza (CE).
        </p>

        <p>
            Durante o evento, que convidou gratuitamente mais de 30 mil crianças e jovens 
            estudantes da rede pública, o instituto promoveu em seu estante uma batalha de 
            robôs produzidos 100% com descarte eletrônico. "É uma batalha onde o robô não é 
            destruído, você tem que estourar a bexiga do outro [para vencer a disputa]", 
            explica Cardoso.
        </p>

        <p>
            Entre os robôs fabricados pelo Instituto Robótica Sustentável estão um mamute que 
            mexe a tromba quando acariciado e um robô de visão computacional que permite ao 
            usuário desenhar na tela fazendo gestos. A tela do robozinho, aliás, é resultado do 
            reaproveitamento de um monitor de computador quebrado que foi para o lixo.
        </p>

        <p>
            Além disso, a ONG construiu um androide de 4 metros de altura composto de LEDs, 
            gabinete e carcaça de computador antigo. Por enquanto, o equipamento gigantesco 
            ainda não se mexe, mas logo deve ser aprimorado para ganhar essa função. "No próximo 
            ano, quem sabe [ele se mova]", estima o presidente da organização, que participa do 
            Sana pela quarta vez.
        </p>

        <p>
            O projeto também conta com kits de animais elétricos montáveis de papelão, motor de 
            drive de DVD de computadores antigos, pilhas e tampinhas de garrafa pet. Um deles tem 
            o formato do personagem Pikachu, de Pokémon.
        </p>

        <p>
            Mas o robô mais sofisticado é o do personagem Wall-E, que anda, tem um painel de luz e 
            até uma gaveta que abre e fecha. "Ele tem vários equipamentos, várias coisas que dão u
            m pouco mais de trabalho para se fazer", diz Cardoso. 
        </p>

        <p>
            Para Cardoso, mais que o conhecimento de eletrônica básica, o principal diferencial na 
            construção de robôs com material reaproveitado é a criatividade. "A maior parte do nosso
            trabalho é a reciclagem. A gente sempre está trazendo pontos de coleta e ativações sociais 
            com as crianças para elas pensarem como reciclar esse resíduo no futuro", diz o porta-voz. 
            "A gente mostra que tudo pode ser reciclado e incentiva eles a mergulharem cada vez mais 
            dentro da tecnologia e da sustentabilidade".
        </p>

        <p>
            O Instituto Robótica Sustentável começou suas atividades em 2016, em uma pequena sala 
            do laboratório da escola pública Dom Helder Câmara, em Fortaleza (CE). Em 2021, foi 
            fundada uma startup que, no ano seguinte, deu origem à ONG. Hoje, ela é formada por 
            12 bolsistas e 20 voluntários, a maioria ex-alunos da escola pública.
        </p>

        <p>
            Cardoso conta que o instituto promove a coleta de resíduo eletrônico também em outras 
            cidades do Ceará, assim como em outras localidades do norte e nordeste, como Belém (PA) 
            e Aracaju (SE). "O nosso intuito é ampliar a coleta do lixo eletrônico, pois não chegamos 
            a coletar nem 2% desse resíduo descartado em toda [a cidade de] Fortaleza", declara.
        </p>
    </main>

    <section class="espaco">
    </section>

    <!-- Menu inferior -->
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
</body>
</html>
