<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../../static/styleArtigo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Header -->
    <div class="welcome">
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <!-- Conteúdo do Artigo -->
    <main class="conteudo">
        <h1 class="titulo-artigo">Descarte correto de lixo eletrônico traz benefício da inclusão digital</h1>
        <h3>Publicado em 16/07/2025 pela <a href="https://www.unoeste.br/Noticias/2025/6/mutirao-e-ecoponto-arrecadam-47-toneladas-de-lixo-eletronico">Unoeste</a></h3>

        <p>
            Dono de empresa recicladora, com 26 anos no mercado nacional, reafirma que ação de 
            Presidente Prudente é a maior do Brasil
        </p>
        <p>
            A junção da eficiência da campanha e da resposta da população resultou novamente em 
            arrecadação expressiva no Mutirão do Lixo Eletrônico: 47 toneladas, incluindo a feita 
            este ano no ecoponto do Jardim Sabará. Nas atividades de sábado (14), a maioria: 64%.
        </p>

        <p>
           Nos quatro distritos rurais e nos cinco pontos na zona urbana, sendo o principal no Parque 
           do Povo, foram arrecadadas 30 toneladas. Um dos donos da WK Solution, Wesley Figueiredo, 
           esteve presente pela primeira vez e ficou impressionado.
        </p>

        <p>
            Com a empresa certificada para destinação final do lixo eletrônico instalada no município 
            de Santana de Parnaíba, na região metropolitana de São Paulo, e com atuação nacional, 
            o empresário reafirmou que a ação de Prudente é a maior do Brasil.
        </p>

        <p>
            Em ocasião anterior, a afirmação foi da Associação Brasileira de Reciclagem de Eletroeletrônicos 
            e Eletrodomésticos (Abree), parceira da prefeitura e da Unoeste na realização do mutirão e 
            responsável pelo entendimento com a empresa recicladora. 
        </p>

        <p>
            O secretário municipal de Tecnologia da Informação, Helton Sapia - falando em nome do 
            prefeito Milton Carlos de Mello “Tupã” -  recebeu com satisfação a reafirmação e destacou 
            as parcerias da Unoeste com o poder executivo, em especial no mutirão.
        </p>

        <p>
            Também citou o envolvimento das secretarias municipais do Meio Ambiente, Obras, Comunicação 
            e Mobilidade Urbana; a empresa de economia mista Prudenco, Defesa Civil e Sabesp.
        </p>

        <h2>Cartilha do Bem</h2>

        <p>
            O prefeito Tupã esteve no evento pela manhã (o ponto do Parque do Povo funcionou das 8h às 16h) 
            e participou das entregas de cartilhas da Abree para alunos da Escola Municipal Domingos Ferreira 
            de Medeiros, do Jardim Guanabara, na zona norte.
        </p>

        <p>
            Acompanhadas por professoras e pela diretora Clara Cristina Tenório Daguano, as crianças 
            estiveram envolvidas em atividades de pintura e arte-reciclagem proporcionadas pelos cursos 
            de Pedagogia presencial e EAD, com professor Josué Pantaleão.
        </p>

        <p>
            O pró-reitor da Pesquisa, Pós-graduação e Extensão, Dr. Adilson Eduardo Guelfi, destacou a 
            frequente mobilização da população e a conscientização que a Unoeste tem expandido para os 
            campi de Jaú, em maio, e Guarujá, em novembro.
        </p>

        <p>
            Presente na recente ação de Jaú, trabalhando para a WK Solution, Valmir Alves disse que ao 
            estacionarem a primeira de duas carretas (carroçarias com 13 metros de comprimento), às 6h, 
            já tinha gente entregando lixo eletrônico.
        </p>
    </main>

    <section class="espaco">
    </section>

    <!-- Menu inferior -->
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
</body>
</html>
