<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../../static/styleArtigo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Header -->
    <div class="welcome">
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <!-- Conteúdo do Artigo -->
    <main class="conteudo">
        <h1 class="titulo-artigo">Alok se une à Vivo para incentivar descarte de lixo eletrônico em campanha nacional</h1>
        <h2>Ygor Monroe</h2>
        <h3>Publicado em 31/07/2025 por <a href="https://cadernopop.com.br/alok-se-une-a-vivo-para-incentivar-descarte-de-lixo-eletronico-em-campanha-nacional/">Caderno Pop</a></h3>

        <p>
            O Brasil está entre os países que mais consomem tecnologia no mundo, mas ainda 
            recicla apenas cerca de 3% do resíduo  eletrônico gerado. Para ampliar essa consciência, 
            a Vivo lançou uma nova campanha com o mote “Recicle seu lixo eletrônico na Vivo”, 
            estrelada por Alok, embaixador da marca. A ação convida os consumidores a descartarem 
            resíduos como smartphones, carregadores, fones e acessórios  eletrônicos em uma das 
            mais de 1,8 mil lojas da Vivo espalhadas pelo país.
        </p>
        <p>
            Criada pela agência Creative, a campanha está ancorada na plataforma Futuro Vivo e 
            reforça o papel da marca como agente ativo na transformação ambiental e social. O 
            conteúdo tem foco digital, com veiculação nas redes sociais e mídias OOH.
        </p>

        <p>
           “Como empresa que abraça causas importantes para a sociedade, queremos contribuir 
           para formar uma geração mais consciente e conectada com a natureza. Ao promovermos 
           a reciclagem de eletrônicos, reduzimos o consumo de recursos naturais e evitamos o 
           descarte no meio ambiente”, afirma Marina Daineze, vice-presidente de Comunicação e 
           Sustentabilidade da Vivo.
        </p>

        <p>
            Por meio do programa Vivo Recicle, criado em 2006, a empresa já destinou corretamente 
            mais de 5,3 milhões de itens, totalizando 187 toneladas de resíduos.
        </p>
    </main>

    <section class="espaco">
    </section>

    <!-- Menu inferior -->
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
</body>
</html>
