<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias - E-CYCLE</title>
    <link rel="stylesheet" href="../../static/styleArtigo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Header -->
    <div class="welcome">
        <div class="header">
            <a href="/profile"><i class="bi bi-person-circle"></i></a>
            <span class="bi bi-bell-fill"></span>
        </div>
    </div>

    <!-- Conteúdo do Artigo -->
    <main class="conteudo">
        <h1 class="titulo-artigo">Plástico que dissolve em água pode solucionar descarte de lixo eletrônico</h1>
        <h2>Jacopo Prisco</h2>
        <h3>Publicado em 07/04/2025 por <a href="https://www.cnnbrasil.com.br/tecnologia/plastico-que-dissolve-em-agua-pode-solucionar-descarte-de-lixo-eletronico/">CNN Brasil</a></h3>

        <p>
            Inovação chamada Aquafade promete facilitar a reciclagem de dispositivos eletrônicos 
            ao dissolver suas carcaças plásticas em água, reduzindo o impacto ambiental do lixo eletrônico.
        </p>
        <p>
            De acordo com um relatório da ONU divulgado no ano passado, 62 milhões de toneladas 
            de lixo eletrônico foram geradas em 2022, o suficiente para encher 1,5 milhão de 
            caminhões que circundariam o equador se alinhados para-choque a para-choque. A maior 
            parte do lixo eletrônico foi para aterros sanitários ou incineração, com potenciais 
            consequências negativas para o meio ambiente e a saúde humana, já que o lixo eletrônico 
            pode conter substâncias tóxicas como mercúrio ou chumbo.
        </p>

        <p>
           Há também uma perda econômica impressionante, pois US$ 62 bilhões (cerca de R$ 365 bilhões) 
           em recursos recuperáveis, como elementos de terras raras, são perdidos no processo. 
           Atualmente, apenas 1% da demanda mundial por esses elementos, essenciais para dispositivos 
           eletrônicos modernos, é atendida pela reciclagem de lixo eletrônico, segundo o relatório.
        </p>

        <p>
            Com o lixo eletrônico crescendo cinco vezes mais rápido que as taxas de reciclagem, 
            novas soluções para o problema não podem demorar. O Aquafade pode ser uma delas — um 
            plástico totalmente solúvel em água que se dissolve completamente em cerca de seis 
            horas quando colocado em um recipiente com água. Ele poderia ser usado para encapsular 
            eletrônicos como computadores ou teclados e dissolvido quando o dispositivo não for mais 
            desejado, facilitando a reciclagem ou recuperação dos componentes mais valiosos e 
            reduzindo a quantidade de lixo eletrônico.
        </p>

        <p>
            "Para a maioria dos produtos eletrônicos, quando estão sendo reciclados, a desmontagem é 
            o verdadeiro problema, e realmente intensiva em mão de obra", diz Samuel Wangsaputra, um 
            dos inventores do Aquafade. "Acho que o brilhante do Aquafade é que grande parte desse 
            processo é descentralizado e simplesmente feito em casa."
        </p>

        <h2>Inspiração incomum</h2>

        <p>
            A inspiração para o Aquafade vem de uma fonte improvável: "Uma noite eu estava lavando 
            a louça e olhando para uma cápsula de lava-louças", diz Wangsaputra, acrescentando que 
            ficou intrigado com o filme transparente solúvel em água que substituiu as embalagens 
            tradicionais. "E pensei, isso deve ser alguma forma de polímero. Mas para onde vai? 
            Então experimentei uma, apenas em um copo d'água, e desapareceu completamente."
        </p>

        <p>
            Para descobrir mais, Wangsaputra e seu co-inventor Joon Sang Lee — com quem fundou a 
            startup britânica Pentaform, fabricante de computadores de baixo custo e acessíveis, 
            em 2019 — uniram-se a Enrico Manfredi-Haylock e Meryem Lamari, dois cientistas de materiais 
            do Imperial College London.
        </p>

        <p>
            "Encontramos um material que é como uma cola em bastão, chamado PVOH ou álcool polivinílico. 
            Um dos critérios é que deve ser seguro para alimentos, caso as crianças lambam o produto, e 
            deve ser totalmente biodegradável no sistema de esgoto", acrescenta.
        </p>

        <p>
            Wangsaputra percebeu que o PVOH poderia ser a chave para remover um gargalo na reciclagem 
            de lixo eletrônico - o transporte, que aumenta os custos e cria emissões de carbono. 
            Isso além do fato de que a maior parte do lixo eletrônico nem sequer é reciclada. 
            Remover o invólucro plástico em casa seria benéfico, pensou ele.
        </p>

        <p>
            A ideia tem financiamento do governo britânico e os quatro estão trabalhando no projeto 
            no Royal College of Arts de Londres, passando por uma série de iterações. "Estamos 
            criando algo que é solúvel em água, mas também à prova d'água. O desafio era fazer um 
            revestimento (à prova d'água) que fosse biodegradável, mas também muito resistente."
        </p>

        <p>
            Este revestimento, também feito de um polímero plástico, é aplicado apenas na casca 
            externa, tornando o produto resistente à água até cinco metros por 30 minutos, o que 
            cobre derramamentos acidentais ou clima úmido. "Mas uma vez que você remove apenas um 
            parafuso do produto, isso cria um vazamento. É quando você o submerge em água. Cinco 
            a seis horas depois, ele se dilui, e o que sobra é água leitosa e as partes mais 
            valiosas do produto (os eletrônicos)", diz Wangsaputra. A água leitosa pode simplesmente 
            ser despejada em uma pia ou vaso sanitário, e Wangsaputra diz que ela se decompõe ainda 
            mais no sistema de esgoto.
        </p>

        <p>
            A primeira aplicação comercial do Aquafade provavelmente será como invólucro para pulseiras 
            LED usadas em shows: "Depois de apenas um uso, milhares de pessoas simplesmente as 
            jogam fora" "Eles são simples de construir, e estamos em negociações com um dos maiores 
            fornecedores dessas pulseiras", diz Joon Sang Lee.
        </p>

        <p>
            O próximo passo é um mini PC feito com uma carcaça Aquafade que será lançado no site da 
            Pentaform. Mas a dupla está pensando em aplicações além da eletrônica: "Funcionaria para 
            qualquer produto que seja moldado por injeção, ou qualquer plástico que seja uma carcaça 
            rígida, então mesmo malas, interiores de carros, relógios, óculos de sol, até móveis", 
            diz Wangsaputra, sugerindo a possibilidade de licenciar o Aquafade para terceiros.
        </p>

        <p>
            Por enquanto, o Aquafade custa o dobro do plástico ABS regular, que ele substituiria. 
            Mas Wangsaputra diz que isso representa 5 a 10% do custo total de um produto eletrônico, 
            e que a produção em massa o tornará mais barato.
        </p>

        <h2>"O diabo está nos detalhes"</h2>

        <p>
            Peter Edwards, professor emérito de Química Inorgânica da Universidade de Oxford, que 
            não está envolvido com o Aquafade, chama isso de "um desenvolvimento interessante", 
            mas questiona se o plástico dissolvido persistirá no ambiente e acabará se tornando 
            microplástico. A equipe do Aquafade reconhece que ainda não investigou completamente 
            como a solução se biodegradaria a longo prazo.
        </p>

        <p>
            Michael Shaver, professor de Ciência dos Polímeros da Universidade de Manchester, 
            que também não está envolvido com o Aquafade, compartilha algumas reservas sobre 
            sua sustentabilidade, observando que existem questões sobre o mecanismo, segurança 
            e taxa de biodegradação, mas acrescenta que nos sistemas de águas residuais no mundo 
            desenvolvido, isso é geralmente bem controlado quando se trata de PVOH, que é bem 
            conhecido em cápsulas de máquina de lavar louça e roupa.
        </p>

        <p>
            No entanto, ele acrescenta, o impacto do revestimento à prova d"água nessa degradação 
            precisa de mais clareza. "O segredo está nos detalhes aqui — os eletrônicos têm 
            especificações elevadas para seus plásticos. Alguns precisam ser muito bons isolantes 
            (elétricos) ou podem precisar ser retardantes de chama", diz ele. "E certamente todos 
            precisam ter um desempenho excepcional contra intempéries para garantir uma vida útil 
            longa — posso ver que esse será o maior obstáculo técnico."
        </p>
    </main>

    <section class="espaco">
    </section>

    <!-- Menu inferior -->
    <div class="bottom-menu">
        <a class="icon-off" href="/home">
            <img src="../../static/img/IconsMenu/OffIcons/home.png" alt="Home">
        </a>
        <a class="icon-off" href="/store">
            <img src="../../static/img/IconsMenu/OffIcons/Bag.png" alt="Loja">
        </a>
        <a class="icon-on" href="/news">
            <img src="../../static/img/IconsMenu/OnIcons/news.png" alt="Notícias">
        </a>
        <a class="icon-off" href="/ecopoints">
            <img src="../../static/img/IconsMenu/OffIcons/location_on.png" alt="Mapa">
        </a>
    </div>
</body>
</html>
