* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header i{
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 5px;
}
.header span{
    color: white;
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-bottom: 2px;
}
.header img {
    height: 40px;
    border-radius: 50%;
}
.notification {
    font-size: 24px;
    color: #4F7D4A;
}
.welcome {
    height: 150px;
    text-align: center;
    background: linear-gradient(#DBF3CD, #91C275, #689B4C);
    padding: 15px;
    color: white;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.welcome .hora{
    width: 370px;
    padding: 5px;
    align-items: center;
}
.welcome .hora img{
    width: 370px;
    padding: 5px;
    align-items: center;
}
.welcome img {
    margin-right: 10px;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#477B2A, #91C275);
    padding: 15px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
}
.bottom-menu .icon-on {
    max-width: 42px;
}

.bottom-menu .icon-off {
    align-content: center;
    width: 24px;
}

#map {
    z-index: 1;
    height: 90vh;
    width: 100%;
}

.info-box {
    width: 100%;
    height: 180px;
    gap: 15px;
    display: flex;
    padding: 20px 30px;
    background: #DBF3CD;
    color: #696969;
    border-radius: 30px  30px  0px 0px;
    position: fixed;
    bottom: 0px;
    z-index: 3;
}
.info-box h3{
    color:#477B2A;
}