* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
body {
    background: #DBF3CD;
}
.body {
    padding: 20px;
    padding-top: 0px;
}
.body i{
    color: #689B4C;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header i{
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 5px;
}
.header span{
    color: white;
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-bottom: 2px;
}
.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.welcome {
    height: 220px;
    text-align: center;
    background: linear-gradient(#DBF3CD, #91C275, #689B4C);
    padding: 15px;
    color: white;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.welcome .hora img{
    width: 370px;
    padding: 5px;
    align-items: center;
}
.saldo h3 {
    font-size: 32px;
    font-weight: bold;
    padding-right: 10px;
}
.saldo img{
    height: 40px;
}
.saldo .pontos{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#477B2A, #91C275);
    padding: 15px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.bottom-menu .icon-on {
    max-width: 42px;
}

.bottom-menu .icon-off {
    align-content: center;
    width: 24px;
}

.titulo {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #333;
}
  
.missoes {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 20px 30px;
}

.missoes h3{
    font-size: 18px;
}

.missoes h3{
    font-size: 14px;
}

.missao {
    align-items: center;
    display: flex;
    border-radius: 15px;
    padding: 15px 20px;
    color: #333;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
}

.progress{
    width: 224px;
    background-color: white;
}

.missao img{
    max-height: 40px;
    padding-right: 10px;
}

.espaco{
    height: 75px;
}
  
/* Cores de fundo específicas */
.verde { background-color: #d1f3e0; }
.amarela { background-color: #fff7c9; }
.rosa { background-color: #fcd5d5; }
.azul { background-color: #d9ecfd; }
.cinza { background-color: #e6e6e6; }
  