* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #DBF3CD;
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header i{
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 5px;
}
.header span{
    color: white;
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-bottom: 2px;
}
.header img {
    height: 40px;
    border-radius: 50%;
}
.notification {
    font-size: 24px;
    color: #4F7D4A;
}
.welcome {
    height: 150px;
    text-align: center;
    background: linear-gradient(#DBF3CD, #91C275, #689B4C);
    padding: 15px;
    color: white;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.welcome .hora{
    width: 370px;
    padding: 5px;
    align-items: center;
}
.welcome .hora img{
    width: 370px;
    padding: 5px;
    align-items: center;
}
.welcome img {
    margin-right: 10px;
}

/* Página de artigo */
.titulo-artigo {
    font-size: 22px;
    color: #2e7d32;
    margin-bottom: 15px;
    text-align: left;
}

.conteudo h2{
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.conteudo h3{
    font-size: 10px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
}

.conteudo h3 a{
    color: black;
}

.img-artigo {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.conteudo{
    padding: 30px;
}

.conteudo p {
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.btn-voltar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #256528;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#477B2A, #91C275);
    padding: 15px;
    border-radius: 30px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.bottom-menu .icon-on {
    max-width: 42px;
}

.bottom-menu .icon-off {
    align-content: center;
    width: 24px;
}

.espaco{
    height: 75px;
}